.container {
  align-items: center;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.card-item {
  width: 30%;
  max-width: 100px;
  height: 480px;
}

#review-link:hover {
  color: blue;
  cursor: pointer;
}

#review-link {
  padding-top: 10px;
}

#movie-image {
  align-self: flex-start;
  overflow-y: hidden;
}

#movie-image img {
  max-width: 100%;
  height: auto;
}

#movie-timings {
  align-self: center;
  overflow-y: auto;
}

#movie-reviews {
  align-self: flex-end;
}

.user-review {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 10px;
}

.rating {
  font-size: 16px;
  margin-right: 5px;
}

.review-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
}

.user-review div {
  display: inline-flex;
  padding: 2px;
}

#average-rating {
  font-weight: bolder;
}

#review-link-container {
  margin-top: 5px;
  margin-bottom: 20px;
  align-items: flex-end;
}

#cinema-location {
  margin-bottom: 3px;
}

.review-profile img {
  width: 20px;
  height: auto;
  transform: translateY(5px);
}