.container {
    align-items: center;
    text-align: center;
}
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px; /* Add some space between cards */
  }
  
  .card-item {
    width: 30%;
    max-width: 100px;
    min-height: 500px;
  }

  #review-link:hover{
    color: blue;
    cursor: pointer;
  }

  #review-link{
    padding-top: 10px;
  }

  #movie-image {
    align-self: flex-start;
  }

  #movie-image img{
    max-width: 100%; 
    height: auto; 
  }
  
  #movie-timings {
    align-self: center;
  }
  
  #movie-reviews {
    align-self: flex-end;
  }

  .user-review {
    display: flex;
    align-items: center; /* Align items vertically within each review */
    text-align: left;
    margin-top: 10px;
  }
  
  .rating {
    font-size: 16px;
    margin-right: 5px; /* Adjust the spacing between rating and review text */
  }
  
  .review-text {
    flex: 1; /* Allow the review text to grow as much as possible */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    margin-left: 5px;
  }
  
  .user-review div {
    display: inline-flex;
    padding: 2px;
  }

  #average-rating {
    font-weight: bolder;
  }

  #review-link-container{
    margin-top: 20px;
    align-items: flex-end;
  }