.user-card {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px; 
    width: 250px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username-edit {
    margin-top: 20px;
}
#email-edit{
    margin-top: 10px;
    margin-bottom: 20px;
}
#profileImage {
    padding-bottom: 0px;
    width: 80px;
}

.user-card p, .user-card input {
    margin-top: 1px;
}

#joiningDate {
    margin-bottom: 4px;
    font-size: 11px;
}

.user-profile-actions img {
    margin-top: 20px;
    width: 15px;
    padding: 15px;
}
