.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.PageTitle{
  color: #333;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;    
}

#MovieList{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-item {
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 10px; 
  min-width: 300px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  color: #333;
}

#MovieCard img {
  max-width: 100%; 
  height: auto; 
}

#MovieCard:hover {
    background-color: #c8c8c8;
}